<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
    <div class="bg-light p-5">
        <h1>Admin</h1>
        <div id="user-listings" class="d-flex gap-2"></div>
      </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>

<script>
const userListings = document.querySelector('#user-listings')

const getUsers = async () => {
      const res = await fetch('/api/auth/getUsers')
      const data = await res.json()
        data.user.map((user) => {
            let card = `<div class="card">
                    <div class='card-body'>
                    <h5 class='card-title'>user: ${user.username}</h5>
                    <p class='card-subtitle mb-3'>role: ${user.role}</p>
                    <button class="update-to-admin btn btn-success">Update To Admin</button>
                    <button class="delete-permanently btn btn-danger">Delete Permanently</button>
                    </div>
                    </div>`
            userListings.innerHTML += card
        })
    const updateToAdminBtn = document.querySelectorAll('.update-to-admin')
    const deleteUserBtn = document.querySelectorAll('.delete-permanently')
    console.log(updateToAdminBtn)
    updateToAdminBtn.forEach((button, i) => {
    button.addEventListener('click', async () => {
        const id = data.user[i].id
        const res = await fetch('/api/auth/update', {
              method: 'PUT',
              body: JSON.stringify({ role: 'Admin', id}),
              headers: { 'Content-Type': 'application/json' }
            })
        console.log(JSON.stringify({ role: 'Admin', id}))
    })
})




    }





getUsers()

</script>